<!DOCTYPE html>
<html>
<head>
    <title>NetCall</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>


<body>
<div>

    <div class="page-header">
        <h1 class = "text-danger text-center" ><strong>NETCALL</strong></h1>
    </div>

    <nav class="navbar navbar-inverse" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand glyphicon-text-width" href="index'.html">HOME</a>
            <a class="navbar-brand glyphicon-text-width" href="Contacts.html">CONTACTS</a>
            <a class="navbar-brand glyphicon-text-width" href="Messaging.html">MESSAGING</a>
        </div>
    </nav>

    <div class="container">
        <h1 class="text-info text-center">Contact List</h1>
        <p class="text-center">All contacts loaded</p>
    </div>

    <!-- loading the contacts -->
    <div ng-app="myApp">
        <div ng-controller="ContactsController">

            <table border="3" class="table">
                <th class="btn-primary text-center">Name</th>
                <th class="btn-primary text-center" >Phone</th>
                <th class="btn-primary text-center">SIP_Name</th>
                <th class="btn-primary text-center">OPTIONS</th>
                <tr ng-repeat="results in contacts.details">
                    <td>{{results.name}}</td>
                    <td >{{results.phn}}</td>
                    <td>{{results.email}}</td>
                    <td class="text-center"  ng-show="results.email" >
                        <button class="btn-success table-bordered input-sm" ng-cl>Call</button>
                        <button class="btn-warning table-bordered input-sm" ng-cl>SMS</button></td>
                </tr>
            </table>

            <script type="text/javascript" src="vendor/angular.js"></script>
        </div>
    </div>

</div>
</body>

</html>