<!DOCTYPE html>
<html>
<head>
    <title>NetCall</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>


<body>

<div class="jumbotron "  id="upper" >
    <div>
        <h1 class ="text-center "><strong>NETCALL</strong></h1>
        <p class="text-center">Left your Phone at Home?? DONT'S LOOK BACK!</p>
    </div>
</div>

<div id="left">
    <div>
        <ul class="nav nav-pills " ><br><br>
            <h3><a class="text-muted" href="index'.html">&nbsp; HOME</a></h3><br>
            <h3><a class="text-muted" href="#" data-link-color="white">&nbsp; CONTACTS</a></h3><br>
            <h3><a class="text-muted" href="Messaging.html">&nbsp; MESSAGES</a></h3>
        </ul>
    </div>
</div>


<div id="right">
    <div class="container">
        <h1 class="text-info text-center">Contact List</h1>
        <p class="text-center">All contacts loaded</p>
    </div>

    <!-- loading the contacts -->
    <div ng-app="myApp">
        <div ng-controller="ContactsController">

            <div class="panel panel-info" ng-repeat="results in contacts.details">
                <div class="panel-body panel-info text-left ">
                    <h4><strong>{{results.name}}</strong></h4>
                    <div ng-show= "results.email" >
                        <button class="btn-success table-bordered input-sm" ng-cl>Call</button>
                        <button class="btn-warning table-bordered input-sm" ng-cl>SMS</button>
                    </div>
                </div>
                <div class="panel-footer panel-info text-left">
                    <strong>CELL: </strong>{{results.phn}} &nbsp;&nbsp;&nbsp;<strong>Email: </strong>{{results.email}}
                </div>
            </div>


            <script type="text/javascript" src="vendor/angular.js"></script>
        </div>
    </div>
</div>


</body>

</html>