<!DOCTYPE html>
<html>

<head>
    <title>NetCall</title>
    <script src="../../bower_components/jquery/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<!-- BODY STARTS........-->

<body>

<div class="jumbotron "  id="upper" >
    <div>
        <h1 class ="text-center "><strong>NETCALL</strong></h1>
        <p class="text-center">Left your Phone at Home?? DONT'S LOOK BACK!</p>
    </div>
</div>

<div id="left">
    <div>
        <ul class="nav nav-pills " ><br><br>
            <h3><a class="text-muted" href="#">&nbsp; HOME</a></h3><br>
            <h3><a class="text-muted" href="Contacts.html" data-link-color="white">&nbsp; CONTACTS</a></h3><br>
            <h3><a class="text-muted" href="Messaging.html">&nbsp; MESSAGES</a></h3>
        </ul>
    </div>
</div>


<div id="right">
    <div id="sidebar_container">
        <div class="sidebar">
            <br /><br />
            <h3 class="text-info">Welcome Page</h3>
            <h4>Brief instructions & description or other stuffs</h4>
            <p class="text-danger">is NETCALL too dry of a name??</p>
        </div>
    </div>
</div>


</body>

</html>