<!DOCTYPE html>
<html>

<head>
    <title>NetCall</title>
    <script src="../../bower_components/jquery/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<!-- BODY STARTS........-->

<body>

<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <a class="navbar-brand" href="/">NetCall</a>
    </div>

</nav>
<div class="container" style="padding-top: 60px">
    <div class="jumbotron "  id="upper" >
        <div>
            <h1 class ="text-center "><strong>NETCALL</strong></h1>
            <p class="text-center">Left your Phone at Home?? Never LOOK BACK!</p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#/contacts">Contacts</a></li>
                <li><a href="#/messages">Messages</a></li>
            </ul>
        </div>
        <div class="col-sm-9">
            <div class="page-header">
                <h3>The ultimate phone virtualization</h3>
            </div>
            <p class="lead">
                Net Call is the one stop solution to virtualize your phone. Forgot your phone at home, need access to your contacts
                or want to send a text without touching your phone, Net Call provides everything.
            </p>
        </div>
    </div>
</div>

</body>
</html>