<!DOCTYPE html>
<html>

<head>
    <title>NetCall</title>
    <script src="../../bower_components/jquery/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>


<body>
<div>

    <div class="page-header">
        <h1 class = "text-danger text-center" ><strong>NETCALL</strong></h1>
    </div>

    <nav class="navbar navbar-inverse" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand glyphicon-text-width" href="#">HOME</a>
            <a class="navbar-brand glyphicon-text-width" href="Contacts.html">CONTACTS</a>
            <a class="navbar-brand glyphicon-text-width" href="Messaging.html">MESSAGING</a>
        </div>
    </nav>

    <div id="sidebar_container">
        <div class="sidebar">
            <br /><br />
            <h3 class="text-info">Welcome Page</h3>
            <h4>Brief instructions & description or other stuffs</h4>
            <p class="text-danger">is NETCALL too dry of a name??</p>
        </div>
<!--
        <div ng-app="myApp">
            <div ng-controller="FirstController">
                <input type="text box" ng-model="data.message" placeholder="Enter a name here">
                <h1>Hello, {{ data.message }}!</h1>
                <script type="text/javascript" src="vendor/angular.js"></script>
            </div>
        </div>
-->
    </div>

</div>
</body>

</html>