<!DOCTYPE html>
<html>

<head>
    <title>NetCall</title>
    <script src="../../bower_components/jquery/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
    <script src="../public/javascripts/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="../../node/views/custom.css" type="text/css" rel="stylesheet">
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<!-- BODY STARTS........-->

<body>

<header>
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <a class="navbar-brand" href="/"></a>
        </div>
    </nav>
</header>

<div class="container" style="padding-top: 20px">
    <div class="jumbotron" id="upper">
        <div>
            <h1 class ="text-center"><strong><span class="glyphicon glyphicon-send"></span>&nbsp;NETCALL</strong></h1>
            <p class="text-center">Left your Phone at Home?? Never LOOK BACK!</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <ul class="nav nav-pills nav-stacked" style="visibility: inherit">
                <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Home</a></li>
                <li><a href="Contacts.html"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Contacts</a></li>
                <li><a href="Messaging.html"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;Messages</a></li>
            </ul>
        </div>
        <div class="col-sm-8" >
            <div class="page-header navbar-text text-center col-sm-12" style="background-color: lightgoldenrodyellow" >
                <h3>The ultimate phone virtualization</h3>
            </div>
            <p class="lead">
                Net Call is the one stop solution to virtualize your phone. Forgot your phone at home? Need access to your contacts
                or want to send a text without touching your phone?
                <h3><strong>NETCALL is here to save the day.</strong></h3>
            </p>
        </div>
    </div>
</div>

<div id="footer" style="height: 60px;
background-color: #f5f5f5; margin-top: 60px;">
    <div class="container">
        <p class="text-muted credit" style="margin: 20px 0">
            Designed by Aditya, Raj, Kim, Suparn
        </p>
    </div>
</div>


</body>
</html>