<!DOCTYPE html>
<html>
<head>
    <title>NetCall</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>


<body>
<div>

    <div class="page-header">
        <h1 class = "text-danger text-center" ><strong>NETCALL</strong></h1>
    </div>

    <nav class="navbar navbar-inverse" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand glyphicon-text-width" href="index'.html">HOME</a>
            <a class="navbar-brand glyphicon-text-width" href="Contacts.html">CONTACTS</a>
            <a class="navbar-brand glyphicon-text-width" href="Messaging.html">MESSAGING</a>
        </div>
    </nav>

    <div class="container">
        <h3 class="text-info">Message History</h3>
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/150x150" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Message heading</h4>
                        <p>Why the hell am i still a message</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>

</html>