<!DOCTYPE html>
<html>
<head>
    <title>NetCall</title>
    <script src="../../bower_components/jquery/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>


<body>

<div class="jumbotron "  id="upper" >
    <div>
        <h1 class ="text-center "><strong>NETCALL</strong></h1>
        <p class="text-center">Left your Phone at Home?? DONT'S LOOK BACK!</p>
    </div>
</div>

<div id="left">
    <div>
        <ul class="nav nav-pills " ><br><br>
            <h3><a class="text-muted" href="index'.html">&nbsp; HOME</a></h3><br>
            <h3><a class="text-muted" href="Contacts.html" data-link-color="white">&nbsp; CONTACTS</a></h3><br>
            <h3><a class="text-muted" href="#">&nbsp; MESSAGES</a></h3>
        </ul>
    </div>
</div>


<div id="right">
    <div class="container">
        <h3 class="text-danger text-center">Message History</h3><br><br>
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/150x150" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Message heading</h4>
                        <p>Why the hell am i still a message</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>

</html>