<div class="page-header navbar-text text-center col-sm-12" style="background-color: lightgoldenrodyellow">
    <h3 class="text-center">Messaging History</h3>
    <p class="text-center">All messages loaded</p>
</div>
<div ng-controller="ContactsController">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/150x150" alt="">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Message heading</h4>
                    <p>Why the hell am i still a message</p>
                </div>
            </div>
        </div>
    </div>
</div>